@font-face {
  font-family: "peace_sansregular";
  src: url("fonts/peace_sans_webfont-webfont.woff2") format("woff2"), url("fonts/peace_sans_webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
 *
 *
 * General
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h3 {
  font-family: "peace_sansregular";
  text-transform: uppercase;
}

p {
  background: #0059ad;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 1.5rem;
  -webkit-text-stroke: 1.5px #0059ad;
  background: -webkit-linear-gradient(90deg, rgba(255, 222, 128, 1) 35%, rgba(255, 201, 49, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
 *
 *
 * Configurator.html
 */

#configurator section {
  width: 100vw;
  height: 100vh;
  background-image: url("imgs/background.jpeg");
  background-size: cover;
  background-position: center bottom;
  position: relative;
  overflow: hidden;
}

#configurator #character {
  /*mobile settings*/
  position: absolute;
  width: 90vw;
  height: 90vw;
  left: 5vw;
  bottom: 1vw;
  animation: move_potato 3s ease-in-out infinite;
}

@keyframes move_potato {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

#configurator #toggle_options_menu {
  position: absolute;
  top: 7vw;
  right: 7vw;
  z-index: 2;

  cursor: pointer;
}

#toggle_options_menu #icon {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("imgs/options_toggle.svg");
  background-size: cover;
  transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  /* transition: 0.8s cubic-bezier(0.79, 0.14, 0.15, 0.86); */
}

#toggle_options_menu #icon.x_icon {
  transform: rotate(225deg);
}

#configurator #elements_container {
  position: absolute;
  width: 90vw;
  height: calc(100vh - 10vh);
  top: 5vw;
  right: 5vw;
  padding: 5vw 5vw 0;
  background-color: #efefef;
  border-radius: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transition: 1s cubic-bezier(0.8, -0.25, 0.15, 1.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* Hide the scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* transition: 0.8s cubic-bezier(0.79, 0.14, 0.15, 0.86); */
}

/* Hide the scrollbar in Chrome, Safari, Opera */
#configurator #elements_container::-webkit-scrollbar {
  display: none;
}

#configurator #elements_container.hide {
  transform: translateX(100vw);
}

#configurator #button_centering {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

#configurator #button_container {
  flex-basis: 100%;
  flex-grow: 1;
  max-width: 450px;
  height: 130px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  background-image: url(imgs/button_bg.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
#configurator #button_container:hover {
  animation-name: kf_puff;
  animation-duration: 0.7s;
}

@keyframes kf_puff {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in-out;
  }
  5% {
    transform: scale(1.1) rotate(4deg);
    animation-timing-function: ease-in-out;
  }

  20% {
    transform: scale(1) rotate(0deg);
    animation-timing-function: ease-in-out;
  }

  35% {
    transform: scale(1.05) rotate(-3deg);
    animation-timing-function: ease-in-out;
  }
}

#configurator #scroll_p_btn {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 6rem;
  cursor: pointer;
  color: black;
}

#scroll_p_btn h3 {
  -webkit-text-stroke: transparent;
}

#configurator a {
  text-decoration: none;
}

#configurator .category_btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#configurator .arrow {
  width: 20px;
  height: 20px;
  background-image: url("imgs/arrow.svg");
  margin-right: 20px;

  transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
}

#configurator .arrow.turned {
  transform: rotate(90deg);
}

#configurator .category {
  margin-bottom: 1.2rem;
}

#configurator .dropdown {
  height: 0px;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  border-bottom: 3px solid #e40425;
}

#configurator .dropdown p {
  padding: 10px 0;
}

#configurator .dropdown.show {
  height: calc(var(--height_on_show) + 10px);
}

#configurator .options {
  display: flex;
}

#potato_svg polygon {
  fill: var(--svg_color);
}

#configurator .options {
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
  /* Hide the scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide the scrollbar in Chrome, Safari, Opera */
#configurator .options::-webkit-scrollbar {
  display: none;
}

#configurator .options figure {
  scroll-snap-align: center;
}

#configurator .options img {
  width: 20vw;
  border-radius: 1rem;
  border: 2px solid #0059ad;
  margin-right: 1vw;
}

#configurator .options img:hover {
  border-color: rgba(255, 201, 49, 1);
}

#configurator .options img.chosen {
  border: 3px solid rgba(255, 201, 49, 1);
}

/* color selector */

#colorselector_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 10;
}

#colorselector_container.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

#configurator #colorselector_content {
  padding: 2.5vw 2.5vw;
  background-color: #efefef;
  border-radius: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#configurator #colorselector {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1vw;
}

#configurator #colorselector .color_button {
  width: 40px;
  height: 40px;
  background-color: var(--color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #configurator #character {
    width: 50vw;
    height: 50vw;
    left: 1vw;
    bottom: 0;
  }

  #configurator #toggle_options_menu {
    display: none;
  }

  #configurator #elements_container {
    top: 1vw;
    width: 40vw;
    height: calc(100vh - 5vh);
    padding: 2.5vw 2.5vw 0;
  }

  #configurator #elements_container.hide {
    transform: translateX(0);
  }

  #configurator .options img {
    width: 10vw;
  }
}

@media screen and (min-width: 1024px) {
  #configurator #character {
    max-width: 614px;
    max-height: 614px;
    left: 5vw;
  }
}

/*
 *
 *
 * Potato SVG
 */

#potato_svg .hide {
  display: none;
}

#potato_svg .show {
  display: block;
}

#potato_svg #back_shadow {
  opacity: 0.5;
}

/*
 *
 *
 *  Animating the parts
 */
.animate_in {
  animation: animate_in 1s cubic-bezier(0.8, -0.25, 0.15, 1.25);
  /* transform-origin: center center; */
}

.animate_out {
  animation: animate_out 1s cubic-bezier(0.8, -0.25, 0.15, 1.25);
}

@keyframes animate_in {
  0% {
    transform: translate(calc(var(--diffX) * 1px), calc(var(--diffY) * 1px));
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes animate_out {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(calc(var(--diffX) * 1px), calc(var(--diffY) * 1px));
    opacity: 0;
  }
}
