/*
 *
 *
 * General
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h3 {
  font-family: "Courier New", Courier, monospace;
}

h3 {
  font-size: 1.5rem;
}

/*
 *
 *
 * Configurator.html
 */

#configurator section {
  width: 100vw;
  height: 100vh;
  background-image: url("imgs/background.jpeg");
  background-size: cover;
  background-position: center bottom;
  position: relative;
  overflow: hidden;
}

#configurator #character {
  /*mobile settings*/
  position: absolute;
  width: 90vw;
  height: 90vw;
  left: 5vw;
  bottom: 1vw;
}

#configurator #toggle_options_menu {
  position: absolute;
  top: 7vw;
  right: 7vw;
  z-index: 2;

  cursor: pointer;
}

#toggle_options_menu #icon {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("imgs/options_toggle.svg");
  background-size: cover;
  transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  /* transition: 0.8s cubic-bezier(0.79, 0.14, 0.15, 0.86); */
}

#toggle_options_menu #icon.x_icon {
  transform: rotate(225deg);
}

#configurator #elements_container {
  position: absolute;
  width: 90vw;
  height: calc(100vh - 10vh);
  top: 5vw;
  right: 5vw;
  padding: 5vw 5vw 0;
  background-color: white;
  border-radius: 30px;
  transition: 1s cubic-bezier(0.8, -0.25, 0.15, 1.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* transition: 0.8s cubic-bezier(0.79, 0.14, 0.15, 0.86); */
}

#configurator #elements_container.hide {
  transform: translateX(100vw);
}

#configurator #button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin-bottom: 1rem;
}

#configurator #continue_btn {
  text-align: center;
  border-radius: 20px;
  border: solid 2px black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 6rem;
  cursor: pointer;
  color: black;
}

#configurator .category_btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#configurator .arrow {
  width: 20px;
  height: 20px;
  background-image: url("imgs/arrow.svg");
  margin-right: 20px;

  transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
}

#configurator .arrow.turned {
  transform: rotate(90deg);
}

#configurator .category {
  margin-bottom: 1.2rem;
}

#configurator .dropdown {
  height: 0px;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  border-bottom: 3px solid #151515;
}

#configurator .dropdown p {
  padding: 10px 0;
}

#configurator .dropdown.show {
  height: calc(var(--height_on_show) + 10px);
}

#configurator .options {
  display: flex;
}

#potato_svg polygon {
  fill: var(--svg_color);
}

#configurator .options img {
  width: 20vw;
  border: 1px solid black;
  margin-right: 10vw;
}

/* color selector */

#colorselector_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  z-index: 10;
}

#colorselector_container.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

#configurator #colorselector_content {
  padding: 20px;
  background-color: white;
}

#configurator #colorselector .color_button {
  width: 40px;
  height: 40px;
  background-color: var(--color);
}

@media screen and (min-width: 768px) {
  #configurator #character {
    width: 60vw;
    height: 60vw;
    left: 1vw;
    bottom: 0;
  }

  #toggle_options_menu #icon {
    display: none;
  }

  #configurator #toggle_options_menu {
    top: 3vw;
    right: 7vw;
  }

  #configurator #elements_container {
    top: 1vw;
    width: 30vw;
    height: calc(100vh - 5vh);
    padding: 4vw 2.5vw 0;
  }

  #configurator #elements_container.hide {
    transform: translateX(0);
  }

  #configurator .options {
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
    /* Hide the scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Hide the scrollbar in Chrome, Safari, Opera */
  #configurator .options::-webkit-scrollbar {
    display: none;
  }

  #configurator .options figure {
    scroll-snap-align: center;
  }

  #configurator .options img {
    width: 10vw;
    margin-right: 1vw;
  }
}

@media screen and (min-width: 1024px) {
  #configurator #elements_container {
    width: 40vw;
  }

  #configurator #character {
    max-width: 614px;
    max-height: 614px;
    left: 5vw;
  }
}

/*
 *
 *
 * Potato SVG
 */

#potato_svg .hide {
  display: none;
}

#potato_svg .show {
  display: block;
}

#potato_svg #back_shadow {
  opacity: 0.5;
}

/*
 *
 *
 *  Animating the parts
 */
.animate_in {
  animation: animate_in 1s cubic-bezier(0.8, -0.25, 0.15, 1.25);
  /* transform-origin: center center; */
}

.animate_out {
  animation: animate_out 1s cubic-bezier(0.8, -0.25, 0.15, 1.25);
}

@keyframes animate_in {
  0% {
    transform: translate(calc(var(--diffX) * 1px), calc(var(--diffY) * 1px));
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes animate_out {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(var(--diffX) * 1px), calc(var(--diffY) * 1px));
  }
}
