* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#scroll polygon {
  fill: var(--svg_color);
}

.scroll_block {
  height: 100vh;
}

#scroll #scroll_view {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#scroll #sky {
  width: 100vw;
  height: 100vh;
  background-color: #6583a3;
  /* background-image: url("imgs/background.jpeg");
  background-size: cover;
  background-position: center; */
}

#parallax1 {
  background-image: url("imgs/small_coud2.svg");
  /* 550 * 300 */
  background-size: cover;
  position: absolute;
  bottom: 52vw;
  left: 10vw;

  transform-origin: top;

  --svg_width: 50vw;
  width: var(--svg_width);
  height: calc(30 / 55 * var(--svg_width));
}

#parallax2 {
  background-image: url("imgs/small_cloud1.svg");
  /* 700 * 500 */
  background-size: cover;
  position: absolute;
  bottom: 40vw;
  left: 30vw;

  transform-origin: top;

  --svg_width: 80vw;
  width: var(--svg_width);
  height: calc(5 / 7 * var(--svg_width));
}

#parallax3 {
  background-image: url("imgs/big_cloud1.svg");
  /* 14 * 9 */
  background-size: cover;
  position: absolute;

  bottom: 20vw;
  right: -25vw;

  transform-origin: top;

  --svg_width: 170vw;
  width: var(--svg_width);
  height: calc(9 / 14 * var(--svg_width));
  opacity: 1;
}

#scroll #sun_overlay {
  background-image: url("imgs/sunny_overlay.svg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
}

#small_buzz img {
  width: 20vw;
  animation-name: kf_buzz_vertical;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

#small_buzz {
  position: absolute;

  top: 20vh;
  left: -20vw;

  animation-name: kf_buzz_lr;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes kf_buzz_vertical {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  25% {
    transform: translateY(2vh);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  75% {
    transform: translateY(-2vh);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes kf_buzz_lr {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(120vw);
  }
  100% {
    transform: translateX(120vw);
  }
}

#big_buzz {
  position: absolute;

  top: 20vh;
  right: -40vw;

  animation-name: kf_buzz_rl;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#big_buzz img {
  width: 40vw;
  animation-name: kf_buzz_vertical;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes kf_buzz_rl {
  0% {
    transform: translateX(0);
  }

  60% {
    transform: translateX(0vw);
  }
  90% {
    transform: translateX(-140vw);
  }

  100% {
    transform: translateX(-140vw);
  }
}

#scroll #potato_svg {
  position: absolute;
  width: 90vw;
  height: 90vw;
  max-width: 500px;
  max-height: 500px;
  left: 5vw;
  bottom: -100vh;
}

#scroll #potato_svg .hide {
  display: none;
}

#scroll #potato_svg #back_shadow {
  display: none;
}

/* #load_screen {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
}

#load_screen svg {
  height: 100vh;
  float: right;
}

#load_screen path {
  animation-name: kf_load_screen_out;
  animation-duration: 1s;
  animation-fill-mode: both;

  transition: 1s;
} */

@media only screen and (min-width: 800px) {
  #scroll #potato_svg {
    position: absolute;
    width: 90vw;
    height: 90vw;
    left: calc(50% - 250px);
  }

  #parallax3 {
    background-image: url("imgs/big_cloud1.svg");
    /* 14 * 9 */
    background-size: cover;
    position: absolute;

    bottom: 5vmin;
    right: -10vw;

    transform-origin: top;

    --svg_width: 120vw;
    width: var(--svg_width);
    height: calc(9 / 14 * var(--svg_width));
    opacity: 1;
  }

  #parallax2 {
    background-image: url("imgs/small_cloud1.svg");
    /* 700 * 500 */
    background-size: cover;
    position: absolute;
    bottom: 25vmin;
    left: 25vw;

    transform-origin: top;

    --svg_width: 60vw;
    width: var(--svg_width);
    height: calc(5 / 7 * var(--svg_width));
  }

  #parallax1 {
    background-image: url("imgs/small_coud2.svg");
    /* 550 * 300 */
    background-size: cover;
    position: absolute;
    bottom: 30vmin;
    left: 10vw;

    transform-origin: top;

    --svg_width: 40vw;
    width: var(--svg_width);
    height: calc(30 / 55 * var(--svg_width));
  }
} ;
